<div class="panel-body">
  <label>Điều trị loại:</label>

  <div class="col-md-12">
      <div class="col-md-3">
          <div class="row">
              <div class="checkbox">
                  <input id="checkbox1" type="checkbox" >
                  <label for="checkbox1"></label>

              </div>
              <div>
                  <label>Nội trú</label>
              </div>
          </div>           
      </div>
      <div class="col-md-3">
          <div class="row">
              <div class="checkbox">
                  <input id="checkbox2" type="checkbox" >
                  <label for="checkbox2"></label>

              </div>
              <div>
                  <label>Ngoại trú</label>
              </div>
          </div>           
      </div>
      <div class="col-md-3">
          <div class="row">
              <div class="checkbox">
                  <input id="checkbox3" type="checkbox" >
                  <label for="checkbox3"></label>

              </div>
              <div>
                  <label>Cấp cứu </label>
              </div>
          </div>           
      </div>

  </div>     
  <div class="col-md-12">
      <div class="col-md-3">
          <div class="row">
              <div class="checkbox">
                  <input id="checkbox4" type="checkbox" >
                  <label for="checkbox4"></label>

              </div>
              <div>
                  <label>Nhập viện</label>
              </div>
          </div>           
      </div>
      <div class="col-md-5">
          <div class="row">
              <div class="checkbox">
                  <input id="checkbox5" type="checkbox" >
                  <label for="checkbox5"></label>

              </div>
              <div>
                  <label>Chuyển viện</label>
              </div>
          </div>           
      </div>

  </div>     



