
  <div class="card "  >
      <div class="header">

          <p class="category">Chỉnh sửa thông tin</p>
      </div>
      <div class="content">

          <div class="col-md-5">
             
                  <label >Phân loại: </label>
                  <select class="form-control">
                      <option value="A">Xét nghiệm máu</option>
                      <option value="A">Xét nghiệm nước tiểu </option>
                      <option value="A">O </option>


                  </select>
           
          </div>
          <div class="col-md-6">

         
                  <label>Ngày :</label>
                  <input type="date" class="form-control"  value="05/10/2018">
           


          </div>
          <div class="col-md-6">
         
                  <label>Tên bác sĩ: </label>
                  <input type="text" class="form-control" placeholder="Tên bác sĩ tại đây">
        
          </div>
          <div class="col-md-12">
             
                  <label>Ghi chú</label>
                  <textarea rows="5" class="form-control" placeholder="Mô tả ghi chú tại đây" value="Mike"></textarea>
            
          </div>
          <div class="col-md-12"> 
              <div class="form-group col-md-6">
                  <i><u>+Thêm Tệp: </u></i> <br>
                  <input type="file">

                  <button type="button" aria-hidden="true"  class="close">  ×</button>
                  <div ><img width="300" alt="Angular Logo" src="https://4.bp.blogspot.com/-Epfa7REFTfw/WH7kWSWAB2I/AAAAAAAAAY0/gtH8VRRCaMg-vp5lqNt2Ns3UtI_G9Zj_wCLcB/s1600/x%25C3%25A9t%2Bnghi%25E1%25BB%2587m.jpg"></div>
               

              </div>
          </div>




          <div class="row">
              <div class="col-md-8">

              </div>
              <div class="col-md-2">
                  <button type="submit" class="btn btn-info btn-fill" onclick="ExitEdit3()">Lưu</button>

              </div>
              <div class="col-md-2">
                  <button type="submit" class="btn btn-info btn-fill" onclick="ExitEdit3()">Hủy</button>

              </div>


          </div>


      </div>
  </div>

