<div class="col-md-6">
    <table class="table  " id="myTable" >
        <tbody>

            <tr>

                <td> 
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">

                                <button class="btn btn-default btn-block">01/29/2016</button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">

                                <button class="btn btn-default btn-block">01/30 /2016</button>

                            </div>
                        </div>                                                                        <div class="td-actions  col-md-4">
                        <button type="button" rel="tooltip" title="Sửa" class="btn btn-info btn-simple btn-xs" onclick="showEdit2()">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" rel="tooltip" title="Xóa" class="btn btn-danger btn-simple btn-xs" onclick="deleteRow2(this)">
                            <i class="fa fa-times"></i>
                        </button>
                        </div>

                    </div>
                </td>


            </tr>
            <tr>

                <td> 
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">

                                <button class="btn btn-default btn-block">01/29/2016</button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">

                                <button class="btn btn-default btn-block">01/30 /2016</button>

                            </div>
                        </div>                                                                        <div class="td-actions  col-md-4">
                        <button type="button" rel="tooltip" title="Sửa" class="btn btn-info btn-simple btn-xs" onclick="showEdit2()">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" rel="tooltip" title="Xóa" class="btn btn-danger btn-simple btn-xs" onclick="deleteRow2(this)">
                            <i class="fa fa-times"></i>
                        </button>
                        </div>

                    </div>
                </td>


            </tr>
            <tr>

                <td> 
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">

                                <button class="btn btn-default btn-block">01/29/2016</button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">

                                <button class="btn btn-default btn-block">01/30 /2016</button>

                            </div>
                        </div>                                                                        <div class="td-actions  col-md-4">
                        <button type="button" rel="tooltip" title="Sửa" class="btn btn-info btn-simple btn-xs" onclick="showEdit2()">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" rel="tooltip" title="Xóa" class="btn btn-danger btn-simple btn-xs" onclick="deleteRow2(this)">
                            <i class="fa fa-times"></i>
                        </button>
                        </div>

                    </div>
                    <div class="row">
                        <div  class="col-md-3" role="tab"  data-toggle="collapse" >
                            <button rel="tooltip" class="btn btn-info btn-simple btn-xs" onclick="showEdit1()" title="Thêm mới"  >  +Thêm mới: </button>
                        </div>


                    </div>
                </td>


            </tr>


        </tbody>
    </table>
</div>