<div class="panel panel-default">
  <!--wrap panel heading in span to trigger image change as well as collapse -->
  <span class="side-tab" data-target="#tab1" data-toggle="tab" role="tab" aria-expanded="false">
      <div class="panel-heading" role="tab" id="headingOne"data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h4 class="panel-title">Dị ứng thức ăn</h4>
      </div>
  </span>

  <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
          <div class="row">
              <div class="col-md-2">
                  <div class="alert alert-info" >
                      <span>thịt heo</span>
                      <button type="button" aria-hidden="true"class="close" >×</button>

                  </div>

              </div>


              <div class="col-md-2">
                  <div class="alert alert-info" >
                      <button type="button" aria-hidden="true" class="close">×</button>
                      <span>thịt heo</span>
                  </div>

              </div>
          </div>
          <form>
              <div class="row">
                  <div class="col-md-5">
                      <div class="form-group">
                          <label>Thêm </label>
                          <select class="form-control">
                              <option value="nam">Đậu phộng </option>
                              <option value="nữ">Nước mắm</option>
                              <option value="nữ">Bột ngọt</option>
                              <option value="nữ">Đường</option>
                              <option value="nữ">Sữa</option>
                          </select>
                      </div>
                  </div>

              </div>
              <button type="submit" class="btn btn-info btn-fill ">Xong</button>
              <div class="clearfix"></div>
          </form>
      </div>
  </div>
</div> 