<div class="col-md-4" >
  <div class="card "  >
      <div class="content">
          <table class="table">
            <div class="row">
              <div class="col-md-1">
                <input class="oval" [ngStyle]="{'background': CardData.Type|getColorCardType}" readonly>
              </div>
              <div class="col-md-2">
              </div>

              <div class="col-md-5">

                <a href="#"> <input type="text" class="form-control coden" (click)="OpenDetailCardByClickEvent(CardData.MedicalRecordId)" [(ngModel)]="CardData.MedicalRecordId" readonly></a>

              </div>
              <div class="td-actions  col-md-2">
              </div>
              <div class="td-actions  col-md-1">
                <button type="button" rel="tooltip" title="Xóa" class="btn btn-danger btn-simple btn-xs" (click)="DeleteCardByClickEvent(CardData.MedicalRecordId)">
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </div>

              <br>

              <div class="row">
                  <div class="col-md-5">
                      <div class="form-group">
                          <b > Nơi khám </b>

                      </div>
                  </div>
                 
                  <div class="col-md-7">
                      <div class="form-group">
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="Mô tả kết quả tại đây" [(ngModel)]="CardData.Place" disabled>
                          </div>
                      </div>

                  </div>
              </div>

              <div class="row">
                  <div class="col-md-5">
                      <div class="form-group">
                          <b>Thời gian khám</b>

                      </div>
                  </div>
                  <div class="col-md-7">
                    <input type="date" class="form-control"
                           [ngModel]="CardData.StartDate | date: 'yyyy-MM-dd'"
                           (ngModelChange)="CardData.StartDate=$event"
                           disabled>

                  </div>
              </div>
              <div class="row">
                  <div class="col-md-5">
                      <div class="form-group">
                          <b>Lí do khám </b>

                      </div>
                  </div>
                  <div class="col-md-7">
                      <div class="form-group">
                          <div class="form-group">
                              <input type="text" class="form-control" [(ngModel)]="CardData.Symptom" disabled>
                          </div>
                      </div>

                  </div>
              </div>
              <div class="row">
                  <div class="col-md-5">
                      <div class="form-group">
                          <b>Chẩn đoán</b>

                      </div>
                  </div>
                  <div class="col-md-7">
                      <div class="form-group">
                          <div class="form-group">
                              <input type="text" class="form-control" [(ngModel)]="CardData.Diagnose" disabled>
                          </div>
                      </div>

                  </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <b>Ghi chú</b>

                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="CardData.Description" disabled>
                        </div>
                    </div>

                </div>
            </div>

          </table>


      </div>
  </div>
</div>
