<div class="panel-body">
  <div class="col-md-12">

      <div class="col-md-6">

          <div class="form-group">
              <label>Ngày :</label>
              <input type="date" class="form-control"  value="05/10/2018">
          </div>


      </div>
      <div class="col-md-12">
          <div class="form-group">
              <label>Ghi chú</label>
              <textarea rows="5" class="form-control" placeholder="Mô tả ghi chú tại đây" value="Mike"></textarea>
          </div>
      </div>
  </div>

  <div class="col-md-12"> 

      <div class="form-group col-md-5">


      </div>

      <div class="col-md-4"> 
          <div class="col-md-12"></div><br>
          <div class="col-md-12"></div><br>

          <div class="col-md-6">    <button type="submit" class="btn btn-info btn-fill" onclick="ExitEdit5()">Lưu lại</button><br> </div>
          <div class="col-md-4">       <button class="btn btn-default btn-block">Huỷ</button> </div>
      </div>
  </div>




</div>
