<div class="card "  >
  <div class="header">

      <b>Chỉnh sửa thông tin</b>
  </div>
  <div class="content">


      <div class="row">
          <div class="col-md-3">
     
                  <label>Ngày bắt đầu</label>
                  <input type="date" class="form-control"  value="05/10/2018">
  
          </div>
          <div class="col-md-3">
        
                  <label>Ngày kết thúc</label>
                  <input type="date" class="form-control" value="05/10/2018">
    

          </div>
          <div class="col-md-4">
         
                  <label>Tên bác sĩ: </label>
                  <input type="text" class="form-control"  value="Phạm Quang Thành">
           
          </div>
      </div>



      <table class="table table-hover table-striped">
          <thead>
              <th>STT</th>
              <th>Tên thuốc</th>
              <th>Số lượng</th>
              <th>Loại</th>
              <th>Số lần uống/Ngày</th>
              <th>Thời gian uống thuốc</th>

              <th>Xóa bỏ</th>
          </thead>
          <tbody>

              <tr>
                  <td>1</td>
                  <td> <select class="form-control">
                      <option value="A">Paracetamol</option>
                      <option value="A">B </option>
                      <option value="A">O </option>
                      <option value="A">AB </option>
                      <option value="A">RH+ </option>
                      <option value="A">RH- </option>

                      </select></td>
                  <td> <select class="form-control">
                      <option value="A"> 100 </option>
                      <option value="A">B </option>
                      <option value="A">O </option>
                      <option value="A">AB </option>
                      <option value="A">RH+ </option>
                      <option value="A">RH- </option>

                      </select></td>
                  <td> <select class="form-control" >
                      <option value="A">Tablet </option>
                      <option value="A">B </option>
                      <option value="A">O </option>
                      <option value="A">AB </option>
                      <option value="A">RH+ </option>
                      <option value="A">RH- </option>

                      </select></td>
                  <td> <select class="form-control">
                      <option value="A">3Times/day </option>
                      <option value="A">B </option>
                      <option value="A">O </option>
                      <option value="A">AB </option>
                      <option value="A">RH+ </option>
                      <option value="A">RH- </option>

                      </select></td>
                  <td> <select class="form-control">
                      <option value="A">Drink after eating </option>
                      <option value="A">B </option>
                      <option value="A">O </option>
                      <option value="A">AB </option>
                      <option value="A">RH+ </option>
                      <option value="A">RH- </option>

                      </select></td>

                  <td>   <button type="button" rel="tooltip" title="Xóa" class="btn btn-danger btn-simple btn-xs" onclick="deleteRow(this)">
                      <i class="fa fa-times"></i>
                      </button></td>
              </tr>
              <tr>
                  <td>2</td>
                  <td> <select class="form-control">
                      <option value="A">Paracetamol</option>
                      <option value="A">B </option>
                      <option value="A">O </option>
                      <option value="A">AB </option>
                      <option value="A">RH+ </option>
                      <option value="A">RH- </option>

                      </select></td>
                  <td> <select class="form-control">
                      <option value="A"> 100 </option>
                      <option value="A">B </option>
                      <option value="A">O </option>
                      <option value="A">AB </option>
                      <option value="A">RH+ </option>
                      <option value="A">RH- </option>

                      </select></td>
                  <td> <select class="form-control" >
                      <option value="A">Tablet </option>
                      <option value="A">B </option>
                      <option value="A">O </option>
                      <option value="A">AB </option>
                      <option value="A">RH+ </option>
                      <option value="A">RH- </option>

                      </select></td>
                  <td> <select class="form-control">
                      <option value="A">3Times/day </option>
                      <option value="A">B </option>
                      <option value="A">O </option>
                      <option value="A">AB </option>
                      <option value="A">RH+ </option>
                      <option value="A">RH- </option>

                      </select></td>
                  <td> <select class="form-control">
                      <option value="A">Drink after eating </option>
                      <option value="A">B </option>
                      <option value="A">O </option>
                      <option value="A">AB </option>
                      <option value="A">RH+ </option>
                      <option value="A">RH- </option>

                      </select></td>

                  <td>   <button type="button" rel="tooltip" title="Xóa" class="btn btn-danger btn-simple btn-xs" onclick="deleteRow(this)">
                      <i class="fa fa-times"></i>
                      </button></td>
              </tr>
              <tr>
                  <td>3</td>
                  <td> <select class="form-control">
                      <option value="A">Paracetamol</option>
                      <option value="A">B </option>
                      <option value="A">O </option>
                      <option value="A">AB </option>
                      <option value="A">RH+ </option>
                      <option value="A">RH- </option>

                      </select></td>
                  <td> <select class="form-control">
                      <option value="A"> 100 </option>
                      <option value="A">B </option>
                      <option value="A">O </option>
                      <option value="A">AB </option>
                      <option value="A">RH+ </option>
                      <option value="A">RH- </option>

                      </select></td>
                  <td> <select class="form-control" >
                      <option value="A">Tablet </option>
                      <option value="A">B </option>
                      <option value="A">O </option>
                      <option value="A">AB </option>
                      <option value="A">RH+ </option>
                      <option value="A">RH- </option>

                      </select></td>
                  <td> <select class="form-control">
                      <option value="A">3Times/day </option>
                      <option value="A">B </option>
                      <option value="A">O </option>
                      <option value="A">AB </option>
                      <option value="A">RH+ </option>
                      <option value="A">RH- </option>

                      </select></td>
                  <td> <select class="form-control">
                      <option value="A">Drink after eating </option>
                      <option value="A">B </option>
                      <option value="A">O </option>
                      <option value="A">AB </option>
                      <option value="A">RH+ </option>
                      <option value="A">RH- </option>

                      </select></td>

                  <td>   <button type="button" rel="tooltip" title="Xóa" class="btn btn-danger btn-simple btn-xs" onclick="deleteRow(this)">
                      <i class="fa fa-times"></i>
                      </button></td>

              </tr>
              <tr><td>
                  <div class="font-icon-list col-md-3 ">
                      <div class="font-icon-detail col-md-3"><h3 class="pe-7s-plus"></h3>

                      </div>
                  </div></td>

                  <td> </td>
                  <td> </td>
                  <td></td>
                  <td> </td>
                  <td></td>
                  <td></td>

              </tr>


          </tbody>

      </table>  

      <div class="col-md-12">
          <div class="form-group">
              <label><p><i><u>+Sửa hình: </u></i></p> </label><br>


              <div ><img  height="130px" width="200px" 

                         src="don-thuoc-2.jpg"></div>

          </div>
      </div>
      <div class="row">
          <div class="col-md-9">

          </div>
          <div class="col-md-1">
              <button type="submit" class="btn btn-info btn-fill" onclick="ExitEdit2()" >Lưu</button>

          </div>
          <div class="col-md-1">
              <button type="submit" class="btn btn-info btn-fill" onclick="ExitEdit2()">Hủy</button>

          </div>

      </div>


  </div>
</div>