<div class="card ">
  <div class="header">
      <h4 class="title"><b>Thêm chỉ số mới</b></h4>
      <p class="category">Hãy cập nhật chỉ số mới nhất của bạn!</p>
  </div>
  <div class="content">


      <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                  <label>Ngày nhập</label>
                  <input type="date" class="form-control" value="05/10/2018">
              </div>
          </div>
          <div class="col-md-4">
              <div class="form-group">
                  <label>Thời gian</label>
                  <input type="time" class="form-control" value="05/10/2018">
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-8">
              <div class="form-group">
                  <label>Chiều Cao</label>
                  <input type="number" class="form-control" value="167">
              </div>
          </div>
          <div class="col-md-4">
              <div class="form-group">
                  <label>Đơn vị</label>

                  <select class="form-control">
                      <option value="nam">m </option>
                      <option value="nữ">cm</option>
                  </select>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-8">
              <div class="form-group">
                  <label>Cân nặng</label>
                  <input type="number" class="form-control" value="63">
              </div>
          </div>
          <div class="col-md-4">
              <div class="form-group">
                  <label>Đơn vị</label>

                  <select class="form-control">
                      <option value="nam">Kg </option>
                      <option value="nữ">Pound</option>
                  </select>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-md-5">

          </div>
          <div class="col-md-4">
              <button type="submit" class="btn btn-info btn-fill" onclick="SaveNewIndex()">Lưu lại</button>

          </div>
          <div class="col-md-5">

          </div>

      </div>


  </div>
</div>