<div class="col-md-4">
    <div class="card">

        <div class="header">
            <h4 class="title" style="float: left">Thông tin cá nhân</h4> 
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

            <button style="background: #FFFFFF; border: 0px"><a href="EditUserInfo.html"><i class="pe-7s-ticket"></i></a></button>  

        </div>
        <div class="content">
          <p>Họ Và tên: {{customer?.Name}}</p>
          <p><span style="margin-right: 20px">Ngày sinh: 29/01/2996 </span>Tuổi : 22</p>
          <p>Email: lytanloi9@gmail.com</p>
          <p>Số điện thoại: 0707670071</p>
          <p>Giới tính: Nam</p>
          <p>Tính trạng hôn nhân: độc thân</p>
          <p>Địa chỉ: {{customer?.Address}}</p>
          <p>Quận: Tân Bình</p>
          <p>Tỉnh/thành phố: Hồ Chí Minh</p>
        </div>
    </div>
</div>
