<div class="panel-body" >
    <form>
        <div class="row">
            <div class="col-md-5">
             
                    <label >Bệnh viện: </label>

                    <select class="form-control">
                        <option value="BV001">Bệnh viện Chợ Rãy</option>
                        <option value="BV001">Bênh viện Hoàn Vũ</option>
                        <option value="BV001">Bệnh viện Tân Bình</option>
                        <option value="BV001">Bệnh viện Bà Chiểu</option>
                    </select>

            </div>

            <div class="col-md-3">
                <div class="form-group" >
                    <label>Thời gian điều trị:   </label>
                    <h5>15 Ngày</h5>

                </div>
            </div>

        </div>
       

        <div class="row">

            <div class="col-md-5">
                <label>Khoa/Phòng:  </label>
                <select class="form-control">
                    <option value="BV001">Khoa tai-mũi-họng</option>
                    <option value="BV001">Khoa Nội</option>
                    <option value="BV001">Khoa Ngoại</option>
                    <option value="BV001">Khoa Nhi</option>
                    <option value="BV001">Khoa Sản</option>
                </select>
            </div>

            <div class="col-md-3">

             
                    <i><h6>- Từ ngày:</h6></i> 
                    <input type="date" class="form-control"  value="01/29/1996">
           
            </div>
            <div class="col-md-3">

                    <i><h6>- Đến ngày:</h6></i> 
                    <input type="date" class="form-control"  value="01/29/1996">
           
            </div>
            
            <div class="col-md-5">
             
                    <label >Triệu chứng:</label>
                    <input class="form-control" placeholder="Nhập triệu chứng bệnh tại đây" >
         
            </div>

            <div class="col-md-6">
        
                    <label>Chuẩn đoán:</label>
                    <input type="text" class="form-control" placeholder="Mô tả chuẩn đoán tại đây" value="">
         
            </div>
        </div>

      
        <div class="row">
            <div class="col-md-12">
            
                    <label>Ghi chú</label>
                    <textarea rows="5" class="form-control" placeholder="Mô tả ghi chú tại đây" value="Mike"></textarea>
           
            </div>
        </div>
        <br>
        <div class="row">
                <div class="col-md-9">
      
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-info btn-fill" onclick="ExitEdit2()" >Lưu</button>
      
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-info btn-fill" onclick="ExitEdit2()">Hủy</button>
      
                </div>
      
            </div>

    </form>
    
</div>