<div class="col-md-6">
    <div class="card " id="myDIV" style="display: block">
        <div class="header">
            <h4 class="title">Danh sách</h4>
            <p class="category">Chỉ số được thống kê theo thời gian</p>
        </div>
        <div class="content">
            <div class="table-full-width">
                <table class="table" id="myTable">
                  <tbody>

                    <tr>
                      <td>
                        <div class="checkbox">
                          <input [(ngModel)]="all" (change)="choiceAll($event)" id="checkbox100" type="checkbox">
                          <label for="checkbox100"></label>
                        </div>
                      </td>
                      <td>
                        <b>Chọn tất cả</b>
                      </td>
                      <td class="td-actions text-right">
                        <button type="button" rel="tooltip" title="Sửa" class="btn btn-info btn-simple btn-xs" style="display: none">
                          <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" rel="tooltip" title="Xóa" class="btn btn-danger btn-simple btn-xs" style="display: none">
                          <i class="fa fa-times"></i>
                        </button>
                      </td>
                    </tr>
                    <ng-container *ngFor="let cord of arrHis ; let c = index">
                      <tr>
                        <td>
                          <div class="checkbox" >
                            <input id="{{c}}" [(ngModel)]="statusOfChart[c]" type="checkbox" (change)="toggleChart($event,c)">
                            <label for="{{c}}"></label>
                          </div>
                        </td>
                        <td>{{cord?.Date.substring(0, cord?.Date.length -9)}}</td>
                        <td class="td-actions text-right">
                          <button type="button" rel="tooltip" title="Sửa" class="btn btn-info btn-simple btn-xs"  (click)="showEditRun(cord,c)">
                            <i [ngClass]="{'show-up': c == showUpIndex}" class="fa fa-edit"></i>
                          </button>
                          <button type="button" rel="tooltip" title="Xóa" class="btn btn-danger btn-simple btn-xs" (click)="removeHeatlCare(cord?.CusHCIndexId)">
                            <i class="fa fa-times"></i>
                          </button>
                        </td>
                      </tr>
                     
                    </ng-container>
                    <tr>
                      <td>
                          <div class="checkbox" style="display: none">
                              <input id="checkbox633" type="checkbox">
                              <label for="checkbox633"></label>

                          </div>
                      </td>
                      <td ><button type="button" rel="tooltip" class="btn btn-info btn-simple btn-xs" (click)="showAddrun()" title="Thêm mới">
                              +Thêm mới
                          </button></td>
                      <td class="td-actions text-right" >
                          <button type="button" rel="tooltip" title="Sửa" class="btn btn-info btn-simple btn-xs" style="display: none">
                              <i class="fa fa-edit"></i>
                          </button>
                          <button type="button" rel="tooltip" title="Xóa" class="btn btn-danger btn-simple btn-xs" style="display: none">
                              <i class="fa fa-times"></i>
                          </button>
                      </td>

                  </tr>

                  </tbody>
                </table>
            </div>

            <div class="footer">
                <hr>
                <div class="stats">
                  <button *ngIf="infoAdd.Type == 'number'" type="submit" class="btn btn-info btn-fill pull-right" (click)="showGraRun()">Xem sơ đồ</button>
                </div>
            </div>
        </div>
    </div>
</div>





