<div class="row">

  

    <div class="col-md-3">

     
            <i><h6>- Từ ngày:</h6></i> 
            <input type="date" class="form-control"  value="01/29/1996">
   
    </div>
    <div class="col-md-3">

            <i><h6>- Đến ngày:</h6></i> 
            <input type="date" class="form-control"  value="01/29/1996">
   
    </div>
    
    <div class="col-md-4">
             
        <label >Nơi khám: </label>
      
        <select class="form-control">
            <option value="BV001"></option>
            <option value="BV001">Bệnh viện Chợ Rãy</option>
            <option value="BV001">Bênh viện Hoàn Vũ</option>
            <option value="BV001">Bệnh viện Tân Bình</option>
            <option value="BV001">Bệnh viện Bà Chiểu</option>
        </select>
      
      </div>
      <label >. </label> <br>
      <button type="submit" class="btn btn-info btn-fill" onclick="ExitEdit1()">Lọc</button>
</div>



<div class="row">
  


  
</div>