<nav class="navbar navbar-default navbar-fixed">
  <div class="container-fluid">
      <div style="width: 260px;float: left;height: 62px;"></div>
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Tổng quan</a>
      </div>
      <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
              <li>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <i class="fa fa-dashboard"></i>
                      <p class="hidden-lg hidden-md">Dashboard</p>
                  </a>
              </li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <i class="fa fa-globe"></i>
                      <b class="caret hidden-lg hidden-md"></b>
                      <p class="hidden-lg hidden-md">
                          5 Notifications
                          <b class="caret"></b>
                      </p>
                  </a>
                  <ul class="dropdown-menu">
                      <li><a href="#">Đơn thuốc ngày 10.05.2018 của bạn đã được cập nhật lên hệ thống thành công</a></li>
                      <li><a href="#">Đơn thuốc ngày 10.05.2018 của bạn đã được cập nhật lên hệ thống thành công</a></li>
                      <li><a href="#">Đơn thuốc ngày 10.05.2018 của bạn đã được cập nhật lên hệ thống thành công</a></li>
                      <li><a href="#">Đơn thuốc ngày 10.05.2018 của bạn đã được cập nhật lên hệ thống thành công</a></li>
                      <li><a href="#">Đơn thuốc ngày 10.05.2018 của bạn đã được cập nhật lên hệ thống thành công</a></li>
                  </ul>
              </li>
              <li>
                  <a href="">
                      <i class="fa fa-search"></i>
                      <p class="hidden-lg hidden-md">Search</p>
                  </a>
              </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
              <li>
                  <a href="">
                      <p>Lý Tấn Lợi</p>
                  </a>
              </li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <p>
                          Thêm
                          <b class="caret"></b>
                      </p>

                  </a>
                  <ul class="dropdown-menu">
                      <li><a href="#">Chỉnh sửa tài khoản</a></li>
                      <li><a href="#">Đổi ảnh đại diện</a></li>

                  </ul>
              </li>
              <li>
                  <a href="#">
                      <p>Đăng Xuất</p>
                  </a>
              </li>
              <li class="separator hidden-lg"></li>
          </ul>
      </div>
  </div>
</nav>