<div class="col-md-4">
<div class="panel panel-default">
    <!--wrap panel heading in span to trigger image change as well as collapse -->
    <span class="side-tab" data-target="#tab1" data-toggle="tab" role="tab" aria-expanded="false">
        <div class="panel-heading" role="tab" id="headingOne"data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h4 class="panel-title">Thêm mới</h4>
        </div>
    </span>
  
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
            <table class="table">
             
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <b > Nơi khám </b>
  
                        </div>
                    </div>
                   
                    <div class="col-md-7">
                        <div class="form-group">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nơi khám" >
                            </div>
                        </div>
  
                    </div>
                </div>
  
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <b>Thời gian khám</b>
  
                        </div>
                    </div>
                    <div class="col-md-7">
     
                                <input type="date" class="form-control"  value="01/29/1996" >
     
  
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <b>Lí do khám </b>
  
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <div class="form-group">
                                <input type="text" class="form-control"  placeholder="Mô tả triệu chứng"  >
                            </div>
                        </div>
  
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <b>Chẩn đoán</b>
  
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Chẩn đoán bác sĩ"  >
                            </div>
                        </div>
  
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                      <div class="form-group">
                          <b>Ghi chú</b>
  
                      </div>
                  </div>
                  <div class="col-md-7">
                      <div class="form-group">
                          <div class="form-group">
                              <input type="text" class="form-control"  placeholder="Mô tả ghi chú"  >
                          </div>
                      </div>
  
                  </div>
              </div>
  
            </table>
            <button type="submit" class="btn btn-info btn-fill ">Xong</button>
            <div class="clearfix"></div>
        </div>
    </div>
  </div>
 </div>