
  <div class="panel panel-default">
    <!--wrap panel heading in span to trigger image change as well as collapse -->
    <span class="side-tab" data-target="#tab3" data-toggle="tab" role="tab" aria-expanded="false">
        <div class="panel-heading" role="tab" id="headingThree"  class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <h4 class="panel-title form-control">Vác-xin</h4>
        </div>
    </span>

    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <table class="table table-hover table-striped col-md-2">
                        <thead>
                            <th class="col-md-2">STT</th>
                            <th class="col-md-3">Loại vác-xin</th>
                            <th class="col-md-3">Ngày tiêm</th>
                            <th class="col-md-4">Chức năng</th>
                        </thead>
                        <tbody>

                            <tr>
                                <td  class="col-md-2">1</td>
                                <td  class="col-md-3">
                                    <input class="form-control" disabled type="text" value="Loại vác-xin" />
                                </td>
                                <td  class="col-md-3">
                                    <input class="form-control"  disabled type="date" />
                                </td>



                                <td  class="col-md-4">
                                    <button type="button" rel="tooltip" title="Chỉnh sửa" class="btn btn-danger btn-simple btn-xs" onclick="deleteRow(this)">
                                        <i class="fa fa-edit" style=" color:green"></i>
                                    </button>
                                    <button type="button" rel="tooltip" title="Xác nhận" class="btn btn-danger btn-simple btn-xs" onclick="deleteRow(this)">
                                        <i class="fa fa-check-circle-o" style=" color:green"></i>
                                    </button>
                                    <button type="button" rel="tooltip" title="Xóa" class="btn btn-danger btn-simple btn-xs" onclick="deleteRow(this)">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                             <tr>
                                <td>1</td>
                                <td>
                                    <input class="form-control" disabled type="text" value="Loại vác-xin" />
                                </td>
                                <td>
                                    <input class="form-control"  disabled type="date" />
                                </td>



                                <td>
                                    <button type="button" rel="tooltip" title="Chỉnh sửa" class="btn btn-danger btn-simple btn-xs" onclick="deleteRow(this)">
                                        <i class="fa fa-edit" style=" color:green"></i>
                                    </button>
                                    <button type="button" rel="tooltip" title="Xác nhận" class="btn btn-danger btn-simple btn-xs" onclick="deleteRow(this)">
                                        <i class="fa fa-check-circle-o" style=" color:green"></i>
                                    </button>
                                    <button type="button" rel="tooltip" title="Xóa" class="btn btn-danger btn-simple btn-xs" onclick="deleteRow(this)">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                              <tr>
                                <td>1</td>
                                <td>
                                    <input class="form-control" disabled type="text" value="Loại vác-xin" />
                                </td>
                                <td>
                                    <input class="form-control"  disabled type="date" />
                                </td>



                                <td>
                                    <button type="button" rel="tooltip" title="Chỉnh sửa" class="btn btn-danger btn-simple btn-xs" onclick="deleteRow(this)">
                                        <i class="fa fa-edit" style=" color:green"></i>
                                    </button>
                                    <button type="button" rel="tooltip" title="Xác nhận" class="btn btn-danger btn-simple btn-xs" onclick="deleteRow(this)">
                                        <i class="fa fa-check-circle-o" style=" color:green"></i>
                                    </button>
                                    <button type="button" rel="tooltip" title="Xóa" class="btn btn-danger btn-simple btn-xs" onclick="deleteRow(this)">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="font-icon-list col-md-3 ">
                                        <div class="font-icon-detail col-md-3">
                                            <h3 class="pe-7s-plus"></h3>

                                        </div>
                                    </div>
                                </td>

                                <td> </td>
                                <td> </td>
                                <td></td>
                                <td> </td>
                                <td></td>
                                <td></td>

                            </tr>


                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>