
 <div class="panel panel-default">
  <!--wrap panel heading in span to trigger image change as well as collapse -->
  <span class="side-tab" data-target="#tab2" data-toggle="tab" role="tab" aria-expanded="false">
      <div class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h4 class="panel-title collapsed">Phẫu thuật</h4>
      </div>
  </span>

  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
         
              <div class="">
                <table class="table table-hover table-striped">
                  <thead>
                     
                          <th class="col-md-1">STT</th>
                          <th class="col-md-1">Ngày thực hiện</th>
                          <th class="col-md-2">Loại phẫu thuật</th>
                          <th class="col-md-2">Bác sĩ</th>
                          <th class="col-md-1">Bệnh viện</th>
                          <th class="col-md-2">Ghi chú</th>

                          <th class="col-md-3">Chức năng</th>

                      </thead>
                  <tbody>

                      <tr>
                          <td  class="col-md-1">1</td>
                          <td  class="col-md-2">   <input disabled  type="date"class="form-control" /></td>
                          <td  class="col-md-2" > <input disabled type="text" placeholder="Loại phẫu thuật" value="Loại phẫu thuật" class="form-control"  /></td>
                          <td class="col-md-2" > <input disabled type="text" placeholder="Tên bác sĩ" class="form-control " value="Thành Phạm" /></td>
                          <td class="col-md-2" > <input disabled type="text" placeholder="Tên bệnh viện"  class="form-control " value="Chợ rẫy" /></td>
                          <td class="col-md-1" >  <input disabled type="text" value="K thành công"  class="form-control col-md-2"/></td>
                          <td class="col-md-3">
                              <button type="button" rel="tooltip" title="Chỉnh sửa" class="btn btn-danger btn-simple btn-xs" onclick="deleteRow(this)">
                                  <i class="fa fa-edit" style=" color:green"></i>
                              </button>
                              <button type="button" rel="tooltip" title="Xác nhận" class="btn btn-danger btn-simple btn-xs" onclick="deleteRow(this)">
                                  <i class="fa fa-check-circle-o" style=" color:green"></i>
                              </button>
                              <button type="button" rel="tooltip" title="Xóa" class="btn btn-danger btn-simple btn-xs" onclick="deleteRow(this)">
                                  <i class="fa fa-times"></i>
                              </button>
                          </td>
                      </tr>
                        <tr>
                          <td>3</td>
                          <td  class="col-md-2">   <input disabled  type="date"class="form-control" /></td>
                          <td  class="col-md-1" > <input disabled type="text" placeholder="Loại phẫu thuật" value="Loại phẫu thuật" class="form-control"  /></td>
                          <td> <input disabled type="text" placeholder="Tên bác sĩ" class="form-control col-md-1" value="Thành Phạm" /></td>
                          <td> <input disabled type="text" placeholder="Tên bệnh viện"  class="form-control col-md-2" value="Chợ rẫy" /></td>
                          <td>  <input disabled type="text" value="K thành công"  class="form-control col-md-2"/></td>
                          <td class="col-md-3">
                              <button type="button" rel="tooltip" title="Chỉnh sửa" class="btn btn-danger btn-simple btn-xs" onclick="deleteRow(this)">
                                  <i class="fa fa-edit" style=" color:green"></i>
                              </button>
                              <button type="button" rel="tooltip" title="Xác nhận" class="btn btn-danger btn-simple btn-xs" onclick="deleteRow(this)">
                                  <i class="fa fa-check-circle-o" style=" color:green"></i>
                              </button>
                              <button type="button" rel="tooltip" title="Xóa" class="btn btn-danger btn-simple btn-xs" onclick="deleteRow(this)">
                                  <i class="fa fa-times"></i>
                              </button>
                          </td>
                      </tr>
                          <tr>
                          <td>3</td>
                          <td  class="col-md-2">   <input disabled  type="date"class="form-control" /></td>
                          <td  class="col-md-1" > <input disabled type="text" placeholder="Loại phẫu thuật" value="Loại phẫu thuật" class="form-control"  /></td>
                          <td> <input disabled type="text" placeholder="Tên bác sĩ" class="form-control col-md-1" value="Thành Phạm" /></td>
                          <td> <input disabled type="text" placeholder="Tên bệnh viện"  class="form-control col-md-2" value="Chợ rẫy" /></td>
                          <td>  <input disabled type="text" value="K thành công"  class="form-control col-md-2"/></td>
                          <td class="col-md-3">
                              <button type="button" rel="tooltip" title="Chỉnh sửa" class="btn btn-danger btn-simple btn-xs" onclick="deleteRow(this)">
                                  <i class="fa fa-edit" style=" color:green"></i>
                              </button>
                              <button type="button" rel="tooltip" title="Xác nhận" class="btn btn-danger btn-simple btn-xs" onclick="deleteRow(this)">
                                  <i class="fa fa-check-circle-o" style=" color:green"></i>
                              </button>
                              <button type="button" rel="tooltip" title="Xóa" class="btn btn-danger btn-simple btn-xs" onclick="deleteRow(this)">
                                  <i class="fa fa-times"></i>
                              </button>
                          </td>
                      </tr>
                      <tr><td>
                          <div class="font-icon-list col-md-3 ">
                              <div class="font-icon-detail forn-control col-md-3">
                                  <button class="pe-7s-plus"></button>

                              </div>
                          </div></td>

                          <td> </td>
                          <td> </td>
                          <td></td>
                          <td> </td>
                          <td></td>
                          <td></td>

                      </tr>


                  </tbody>

              </table>  
              </div>
          
      </div>
  </div>
</div>
<!-- / panel 2 -->