<app-client-info [id]="idCus"></app-client-info>
<app-basic-index #healthIndex (loadHis)="loadHistory($event)"></app-basic-index>
<app-item-history *ngIf="showHis"
                  (showAdd)="showAddHealth()"
                  (showEdit)="showEditHealth($event)"
                  (showGra)="showGraHealth()"
                  [index]="indexHis"></app-item-history>{{health?.Date}}
<app-add-item-history [obUpDate]="healthUp" [idHis]="indexHis"  [idCustom]="idCus"  *ngIf="showAdd"></app-add-item-history>
<app-edit-item-history [obUpDate]="healthUp" [idHis]="indexHis"  [idCustom]="idCus" *ngIf="showUp"></app-edit-item-history>
<app-show-graph *ngIf="showGrap"></app-show-graph>
