
  <div class="card "  >
      <div class="header">

          <p class="category">Chỉnh sửa thông tin</p>
      </div>
      <div class="content">
          <div class="col-md-6">

              <div class="form-group">
                  <label>Ngày :</label>
                  <input type="date" class="form-control"  value="05/10/2018">
              </div>


          </div>



          <div class="col-md-12">
              <div class="form-group">
                  <label>Ghi chú</label>
                  <textarea rows="5" class="form-control" placeholder="Mô tả ghi chú tại đây" value="Mike"></textarea>
              </div>
          </div>

      </div>




      <div class="row">
          <div class="col-md-7">

          </div>
          <div class="col-md-2">
              <button type="submit" class="btn btn-info btn-fill" onclick="ExitEdit4()">Lưu</button>

          </div>
          <div class="col-md-2">
              <button type="submit" class="btn btn-info btn-fill" onclick="ExitEdit4()">Hủy</button>
          </div>

      </div>


  </div>
